downloads/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class
*.so
.venv/
env/
venv/
build/
dist/
*.egg-info/
*.spec
*.mp4
*.mp3
*.m4a
*.opus
*.wav
*.flac
*.webm
*.mkv
.idea/
.vscode/
*.swp
